* {
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

nav {
  flex-direction: row;
  padding: 2px 20px;
  justify-content: space-between;
  background: var(--bg-theme-main);
  align-items: center;
  height: 44px;
}
nav .nav-menu {
  padding: 0px;
  list-style: none;
  margin: 0px;
  gap: 10px;
}
nav .nav-menu li a {
  display: flex;
  padding: 6px 13px;
  color: var(--or-midGray) !important;
  text-decoration: none;
  height: 44px;
  border-color: var(--bg-theme-main);
  align-items: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
nav .nav-menu li a:hover {
  border-bottom: 4px solid var(--or-green);
}
nav .nav-menu li a.btn-home {
  padding: 12px;
}
nav .nav-menu li a.active {
  border-bottom: 4px solid var(--or-green);
}
nav .nav-menu li .btn-dropdown a i {
  background-color: var(--or-midGray);
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, background-image 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, display 0.15s ease-in-out;
}
nav .nav-menu li .btn-dropdown .dropdownlist {
  background-color: #fff;
}
nav .nav-menu li .dropdown {
  display: flex;
  gap: 3px;
}
nav .nav-menu li .dropdown i {
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, background-image 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, display 0.15s ease-in-out;
}
nav .nav-menu li .dropdown-menu {
  background-color: var(--bg-theme-main);
}
nav .nav-menu li .dropdown-menu a {
  border: 0px;
}
nav .nav-menu li .dropdown-menu a:hover {
  background-color: var(--or-green);
  color: #000 !important;
}
nav .nav-menu li .dropdownitem.active i {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, background-image 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, display 0.15s ease-in-out;
}
nav .nav-actions {
  gap: 20px;
}
nav .nav-actions .actions-container {
  border-left: 1px solid var(--or-lightGray);
  border-right: 1px solid var(--or-lightGray);
  padding: 0px 20px;
  display: inline-flex;
  gap: 15px;
}
nav .nav-actions .actions-container a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
nav .nav-actions .actions-container a:hover {
  background-color: var(--or-green);
}
nav .nav-actions .actions-container a:hover i {
  background-color: var(--bg-theme-main);
}
nav .theme .form-switch {
  margin: 0px;
  padding: 0px;
}
nav .theme .form-switch .form-check-input {
  width: 44px;
  height: 24px;
  background-color: var(--or-green);
  background-image: url("/images/icons/ico-theme-light.svg");
  background-size: 90%;
  background-size: 20px;
  background-position-x: left;
  background-position-y: center;
  border: 2px solid var(--or-green);
  margin: 0px;
}
nav .theme .form-switch .form-check-input:checked {
  background-image: url("/images/icons/ico-theme-dark.svg");
  background-position-x: right;
  background-position-y: center;
  background-color: #51668f;
  border: 2px solid #51668f;
}
nav .theme-switch .theme-icon {
  background: #fff url(/images/icons/ico-theme-light.svg) center center no-repeat;
  background-size: 70%;
}
nav .theme-switch .translate-x-5.theme-icon {
  background: url(/images/icons/ico-theme-dark.svg) center center no-repeat;
  background-size: 70%;
  background-color: #142150;
}

.navlogo {
  -webkit-mask: url(/images/or-brandsite.svg) no-repeat center center;
  mask: url(/images/or-brandsite.svg) no-repeat left center;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  background-color: var(--or-midGray);
  display: block;
  width: 100%;
  height: 24px;
  margin: 0 5px 0 0;
  max-width: 195px;
}
.navlogo:hover {
  background-color: var(--or-green);
}

.mobile-nav-container {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.mobile-nav-container .mobile-nav {
  height: 60px;
  background: var(--bg-theme-main);
}
.mobile-nav-container .mobile-nav button {
  border: 0px;
  background-color: #fff;
  color: var(--or-midGray);
}
.mobile-nav-container .mobile-menu {
  width: 100%;
}
.mobile-nav-container .mobile-menu nav {
  padding: 20px;
  height: calc(100vh - 60px);
  background: rgba(8, 39, 102, 0.89);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.mobile-nav-container .mobile-menu nav .menuitem {
  color: var(--bg-theme-main) !important;
  font-size: 18px;
  border-radius: 12px;
}
.mobile-nav-container .mobile-menu nav .menuitem:hover {
  color: var(--or-Blue);
  background-color: var(--bg-theme-main);
}
.mobile-nav-container .mobile-menu nav .dropdownitem.active {
  background-color: var(--bg-theme-main);
  color: var(--or-darkBlue) !important;
}
.mobile-nav-container .mobile-menu nav .nav-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container {
  border: 0;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container a {
  width: 40px;
  height: 40px;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container a i {
  width: 40px;
  height: 40px;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container a .action-source-control {
  -webkit-mask: url(/images/icons/ico-source-control.svg) no-repeat center center;
  mask: url(/images/icons/ico-source-control.svg) no-repeat left center;
  -webkit-mask-size: 45%;
  mask-size: 45%;
  background-color: var(--bg-theme-main);
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container a .action-contact {
  -webkit-mask: url(/images/icons/ico-mail.svg) no-repeat center center;
  mask: url(/images/icons/ico-mail.svg) no-repeat left center;
  -webkit-mask-size: 60%;
  mask-size: 60%;
  background-color: var(--bg-theme-main);
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}
.mobile-nav-container .mobile-menu nav .nav-actions .actions-container a .action-search {
  -webkit-mask: url(/images/icons/ico-search.svg) no-repeat center center;
  mask: url(/images/icons/ico-search.svg) no-repeat left center;
  -webkit-mask-size: 60%;
  mask-size: 60%;
  background-color: var(--bg-theme-main);
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}
.mobile-nav-container .mobile-menu nav .nav-actions .theme-switch {
  height: 40px;
  width: 70px;
  padding: 3px;
}
.mobile-nav-container .mobile-menu nav .nav-actions .theme-switch .theme-icon {
  width: 30px;
  height: 30px;
}
.mobile-nav-container .mobile-menu nav .nav-actions .theme-switch .translate-x-8.theme-icon {
  background: #142150 url(/images/icons/ico-theme-dark.svg) center center no-repeat;
  background-size: 70%;
}

.dark-mode .nav-menu li a:hover {
  color: var(--or-green) !important;
}
.dark-mode .nav-menu li a:hover i {
  background-color: var(--or-green);
}
.dark-mode .nav-menu li .btn-dropdown a i {
  background-color: var(--or-midGray);
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, background-image 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, display 0.15s ease-in-out;
}
.dark-mode .nav-menu li .btn-dropdown .dropdownlist {
  background-color: #fff;
}
.dark-mode .nav-menu li .btn-dropdown .dropdownitem.active {
  color: var(--or-green) !important;
}
.dark-mode .nav-menu li .btn-dropdown .dropdownitem.active i {
  background-color: var(--or-green) !important;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: openRegular;
  font-size: 16px;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--or-light-green);
}

body {
  --or-green: #8FC73E;
  --or-green-75:#B3D47B;
  --or-green-50:#CCE2A5;
  --or-green-25:#E6F1D1;
  --or-secondgreen: #00AD43;
  --or-secondgreen-75:#89BD82;
  --or-secondgreen-50:#AFD3AB;
  --or-secondgreen-25:#D7E9D5;
  --or-darkGray:#3C3C3C;
  --or-darkGray-75:#6D6D6D;
  --or-darkGray-50:#9D9D9D;
  --or-darkGray-25:#CECECE;
  --or-darkBlue:#0F347E;
  --or-darkBlue-75:#576596;
  --or-darkBlue-50:#8E98B8;
  --or-darkBlue-25:#C6CBDB;
  --or-electricBlue:#0027FF;
  --or-electricBlue-75:#465CF6;
  --or-electricBlue-50:#8391F8;
  --or-electricBlue-25:#C1C8FB;
  --or-Purple:#0027FF;
  --or-Purple-75:#A471CF;
  --or-Purple-50:#C1A0DF;
  --or-Purple-25:#E0CFEF;
  --or-light-green:#CCFA7D;
  --or-Blue:#0F347E;
  --or-midBlue:#007FAA;
  --or-lightBlue:#3B95FF;
  --or-midGray:#6F6F6F;
  --or-lightGray:#D8D8D8;
  --black:#000000;
  --white:#ffffff;
  --or-green-75:#B3D47B;
  --bg-theme-main: #ffffff;
}

body.dark-mode {
  --or-light-green:#CCFA7D;
  --or-darkBlue:#082766;
  --or-Blue:#0F347E;
  --or-midBlue:#007FAA;
  --or-lightBlue:#3B95FF;
  --or-darkGray:#575757;
  --or-midGray:#FFF;
  --or-lightGray:#D8D8D8;
  --black:#000000;
  --bg-theme-main: #080F1C;
}

.bg-ortus-green {
  background-color: var(--or-green);
}

@font-face {
  font-family: "openRegular";
  src: url("/css/fonts/OpenSans/OpenSans-Regular.woff2");
}
@font-face {
  font-family: "openBlack";
  src: url("/css/fonts/OpenSans/OpenSans-Bold.woff2");
}
@font-face {
  font-family: "HandelGot";
  src: url("/css/fonts/HandelGot/HandelGotDBol.woff2");
}
a {
  color: var(--or-midBlue) !important;
}
a:hover {
  color: var(--or-green) !important;
}

.head-main h1 {
  font-family: HandelGot;
  font-size: 93px;
  color: var(--or-green);
  line-height: 0.8;
  max-width: 500px;
}
.head-main h1 span {
  font-size: 68px;
}
.head-main h2 {
  font-family: openRegular;
  font-size: 30px;
}

.or-green {
  color: var(--or-green);
}

.or-green-75 {
  color: var(--or-green-75);
}

.or-green-50 {
  color: var(--or-green-50);
}

.or-green-25 {
  color: var(--or-green-25);
}

.or-secondgreen {
  color: var(--or-secondgreen);
}

.or-secondgreen-75 {
  color: var(--or-secondgreen-75);
}

.or-secondgreen-50 {
  color: var(--or-secondgreen-50);
}

.or-secondgreen-25 {
  color: var(--or-secondgreen-25);
}

.or-darkGray {
  color: var(--or-darkGray);
}

.or-darkGray-75 {
  color: var(--or-darkGray-75);
}

.or-darkGray-50 {
  color: var(--or-darkGray-50);
}

.or-darkGray-25 {
  color: var(--or-darkGray-25);
}

.or-darkBlue {
  color: var(--or-darkBlue);
}

.or-darkBlue-75 {
  color: var(--or-darkBlue-75);
}

.or-darkBlue-50 {
  color: var(--or-darkBlue-50);
}

.or-darkBlue-25 {
  color: var(--or-darkBlue-25);
}

.or-electricBlue {
  color: var(--or-electricBlue);
}

.or-electricBlue-75 {
  color: var(--or-electricBlue-75);
}

.or-electricBlue-50 {
  color: var(--or-electricBlue-50);
}

.or-electricBlue-25 {
  color: var(--or-electricBlue-25);
}

.or-Purple {
  color: var(--or-Purple);
}

.or-Purple-75 {
  color: var(--or-Purple-75);
}

.or-Purple-50 {
  color: var(--or-Purple-50);
}

.or-Purple-25 {
  color: var(--or-Purple-25);
}

.btn {
  display: block;
}

.btn-home {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}
.btn-home:hover {
  background-color: var(--or-green);
}
.btn-home:hover i {
  background-color: var(--white);
}

.head {
  height: calc(100vh - 46px);
}
.head .head-main {
  height: 70%;
  min-height: 628px;
  background: url(/images/bg-head.svg) top center no-repeat;
}
.head .head-info {
  height: 30%;
  min-height: 269px;
}

@media (max-width: 1023px) {
  .head-info {
    height: fit-content !important;
    min-height: inherit !important;
  }
}
@media (max-width: 768px) {
  .head-main {
    height: 100vh !important;
    background: url(/images/bg-head-mobile.svg) top center no-repeat !important;
    background-size: cover !important;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .head-main .ttl-head {
    max-width: inherit;
    font-size: 15vw;
  }
  .head-main .ttl-head span {
    display: block;
    font-size: 10vw;
  }
  .head-main h2 {
    font-size: 6vw;
  }
  .head-main .explore {
    color: var(--or-green);
    font-family: openBlack;
  }
  .head-main .explore .ico-scroll-down {
    -webkit-mask: url(/images/icons/ico-circular-button-arrow-down.svg) no-repeat center center;
    mask: url(/images/icons/ico-circular-button-arrow-down.svg) no-repeat left center;
    -webkit-mask-size: 70%;
    mask-size: 70%;
    background-color: var(--or-green);
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }
  .head-main .explore:hover i {
    background-color: var(--white);
  }
}
.lists {
  list-style: url(/images/ul-bullet.svg);
  line-height: 1.7;
}

.dark-mode {
  background-color: var(--white);
  color: #fff !important;
}
.dark-mode a {
  color: var(--or-green) !important;
}
.dark-mode a:hover {
  color: var(--or-Blue) !important;
}
.dark-mode .dropdownlist {
  background-color: var(--black);
}
.dark-mode .dropdownlist a:hover {
  color: var(--black) !important;
  background-color: var(--or-green);
}
.dark-mode .theme-switch {
  background-color: #25385d;
}
.dark-mode .theme-switch .theme-icon {
  background-color: #161616 !important;
}

.ico-home {
  -webkit-mask: url(/images/icons/home.svg) no-repeat left center;
  mask: url(/images/icons/home.svg) no-repeat left center;
  -webkit-mask-size: 18px;
  mask-size: 18px;
  background-color: var(--or-midGray);
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px;
}
.ico-home:hover {
  background-color: var(--or-green);
}

.action-source-control {
  -webkit-mask: url(/images/icons/ico-source-control.svg) no-repeat center center;
  mask: url(/images/icons/ico-source-control.svg) no-repeat left center;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  background-color: var(--or-midGray);
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.action-contact {
  -webkit-mask: url(/images/icons/ico-mail.svg) no-repeat center center;
  mask: url(/images/icons/ico-mail.svg) no-repeat left center;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  background-color: var(--or-midGray);
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.action-search {
  -webkit-mask: url(/images/icons/ico-search.svg) no-repeat center center;
  mask: url(/images/icons/ico-search.svg) no-repeat left center;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  background-color: var(--or-midGray);
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.ico-alert {
  -webkit-mask: url("/src/img//icons/ico-alert.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-alert.svg") no-repeat center center;
  display: block;
}

.ico-close {
  -webkit-mask: url("/src/img//icons/ico-close.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-close.svg") no-repeat center center;
  display: block;
}

.ico-check {
  -webkit-mask: url("/src/img//icons/ico-check.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-check.svg") no-repeat center center;
  display: block;
}

.ico-report {
  -webkit-mask: url("/src/img//icons/ico-report.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-report.svg") no-repeat center center;
  display: block;
}

.ico-take-survey {
  -webkit-mask: url("/src/img//icons/ico-take-survey.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-take-survey.svg") no-repeat center center;
  display: block;
}

.ico-edit {
  -webkit-mask: url("/src/img//icons/ico-edit.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-edit.svg") no-repeat center center;
  display: block;
}

.ico-reclaim {
  -webkit-mask: url("/src/img//icons/ico-reclaim.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-reclaim.svg") no-repeat center center;
  display: block;
}

.ico-group {
  -webkit-mask: url("/src/img//icons/ico-group.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-group.svg") no-repeat center center;
  display: block;
}

.ico-keys {
  -webkit-mask: url("/src/img//icons/ico-keys.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-keys.svg") no-repeat center center;
  display: block;
}

.ico-360 {
  -webkit-mask: url("/src/img//icons/ico-360.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-360.svg") no-repeat center center;
  display: block;
}

.ico-chevron-l {
  -webkit-mask: url("/src/img//icons/ico-chevron-left.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-chevron-left.svg") no-repeat center center;
  display: block;
  -webkit-mask-size: 60% !important;
  mask-size: 60% !important;
  width: 25px;
  height: 25px;
}

.ico-chevron-r {
  -webkit-mask: url("/src/img/icons/ico-chevron-right.svg") no-repeat center center;
  mask: url("/src/img/icons/ico-chevron-right.svg") no-repeat center center;
  display: block;
  -webkit-mask-size: 60% !important;
  mask-size: 60% !important;
  width: 25px;
  height: 25px;
}

.ico-chevron-d {
  -webkit-mask: url("/images/icons/ico-chevron-down.svg") no-repeat center center;
  mask: url("/images/icons/ico-chevron-down.svg") no-repeat center center;
  display: block;
  -webkit-mask-size: 60% !important;
  mask-size: 60% !important;
  width: 25px;
  height: 25px;
}

.ico-user {
  -webkit-mask: url("/src/img//icons/ico-user.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-user.svg") no-repeat center center;
  display: block;
}

.ico-logout {
  -webkit-mask: url("/src/img//icons/ico-logout.svg") no-repeat center center;
  mask: url("/src/img//icons/ico-logout.svg") no-repeat center center;
  display: block;
}

.icosize-1 {
  -webkit-mask-size: 40px;
  mask-size: 40px;
  width: 40px;
  height: 40px;
}

.icosize-2 {
  -webkit-mask-size: 30px;
  mask-size: 30px;
  width: 30px;
  height: 30px;
}

.icosize-3 {
  -webkit-mask-size: 20px;
  mask-size: 20px;
  width: 20px;
  height: 20px;
}

.icosize-4 {
  -webkit-mask-size: 17px;
  mask-size: 17px;
  width: 17px;
  height: 17px;
}

.icosize-5 {
  -webkit-mask-size: 14px;
  mask-size: 14px;
  width: 14px;
  height: 14px;
}

.icolor-mainblue {
  background-color: var(--ldiMainBlue);
}

.icolor-blue {
  background-color: var(--ldiSecondBlue);
}

.icolor-darkblue {
  background-color: var(--ldiDarkBlue);
}

.icolor-darkgray {
  background-color: var(--or-midGray);
}

.icolor-gray {
  background-color: var(--ldiGray);
}

.icolor-lightgray {
  background-color: var(--ldiLightGray);
}

.color-mainblue {
  color: var(--ldiMainBlue);
}

.color-blue {
  color: var(--ldiSecondBlue);
}

.color-darkblue {
  color: var(--ldiDarkBlue);
}

.color-darkgray {
  color: var(--ldiDarkGray);
}

.color-gray {
  color: var(--ldiGray);
}

.color-lightgray {
  color: var(--ldiLightGray);
}

.border-mainblue {
  border-color: var(--ldiMainBlue) !important;
}

.border-blue {
  border-color: var(--ldiSecondBlue) !important;
}

.border-darkblue {
  border-color: var(--ldiDarkBlue) !important;
}

.border-darkgray {
  border-color: var(--ldiDarkGray) !important;
}

.border-gray {
  border-color: var(--ldiGray) !important;
}

.border-lightgray {
  border-color: var(--ldiLightGray) !important;
}

/*# sourceMappingURL=brand-site.css.map */
